* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f2a3d;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: animation;
  animation-duration: 2s;
  transition: all 0.9s ease;
}
.container .Calculator {
  margin-top: 120px;
  padding: 20px;
  background-color: #104579;
  border-radius: 15px;
  flex-direction: column;
  height: 390px;
  width: 270px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
.container .Calculator div h4 {
  font-family: sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
}
.container .Calculator div input {
  width: 100%;
  letter-spacing: 1px;
  font-family: sans-serif;
  outline: none;
  border: none;
  padding: 4px 9px;
  border-radius: 5px;
  text-align: end;
}
.container .Calculator .display {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.container .Calculator .btn {
  background-color: #f0bc02;
}
.container .Calculator .btn:active {
  background-color: #ffffff;
}
.container .Calculator .btn1 {
  background-color: #e7caa5;
}
.container .Calculator .btn1:active {
  background-color: #ffffff;
}
button {
  border-radius: 7px;
  width: 50px;
  background-color: #dfdfdf;
  align-items: center;
  height: 33px;
  border: none;
}
button:active {
  background-color: #ffffff;
}
.container .Calculator .displayend {
  gap: 10px;
  margin-top: 10px;
  display: flex;
}
.Result {
  width: 111px;
  background-color: #e7caa5;
}
.Resultt {
  width: 111px;
  background-color: #f0bc02;
}
@keyframes animation {
  100% {
    margin-right: 0;
  }
  0% {
    margin-right: 100px;
    opacity: 0.2;
  }
}
